<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>エスカレーションが必要な会話を検出しました</h2>
    
    <p>
      <strong>会話ID:</strong> <%= @conversation_id %><br>
      <strong>詳細:</strong> <%= @summary %>
    </p>
    
    <p>
      至急対応をお願いします。
    </p>
    
    <p>
      システムより
    </p>
  </body>
</html>
